:root {
  --main-aquamarine: #4871b0;
  --main-aquamarine-100: #488aee;
  --main-blue: #2e487b;
  --main-navy: #1c1827;
  --main-silver: #e0e0de;
  --main-silver-transparent: #e0e0de86;
  --main-peach: #eba03f;
  --header-bg-color: #2d3c5c;
  --footer-link-color: #96aed4;
  --gray-font-200: #a8a8a8;
  --gray-font-300: #808080;
  --white-font: #ffffff;
  --black-font: #000000;
  --transition-cubic: cubic-bezier(0.25, 0.8, 0.25, 1);
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --page-width-mobile: 90vw;
  --page-width-desktop: 70vw;
}
